<% include ../partials/header %>


   <div class="row">
      <div class="col-md-10">
         <div class="thumbnail">
            <img class="image-responsive" src="<%= userpage.image%>">
            <div class="caption-full">
              
               <h4 id="captionName"><%=userpage.name%></h4>
               <hr>
               <p><%= userpage.description%></p>
               
            </div>
         </div>
         <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/userpages/<%= userpage._id %>/comments/new">Add New Comment</a>
            </div>
            <hr>
            
         </div>
      </div>
      <div class="col-md-2">
         <div class="list-group">
            <li class="list-group-item active">My Photos</li>
            <li class="list-group-item">My Blog</li>
            <li class="list-group-item">My Location</li>
         </div>
         <div id="map"></div>
      </div>
   </div>
   
<% include ../partials/footer %>