<!DOCTYPE html>
<html>
    <head>
        <title>Overhyped HomePage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900,900i" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body id="about-body">
    <p ><a id="about-back" href="/">Back Home</a></p>

        
    <div class="container">
        <p id="about-header">About OverHyped...</p>
        <hr>
        <p id="about-text">This site started as an experiment to create a modern social media website using emergent web technologies.
        Overhyped is the world's first social media site to deliver a truly social experience. Users are paired with other users on the site based 
        on the keywords they post in their photos, and profile space then becomes shared.</p>
    </div>


<% include ./partials/footer %>

