<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login to Overhyped</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script type="text/javascript" src="/javascript/validate.js"></script>
    </head>
    <body class="auth">
        <div class="brand"><a class="logo" href="/">OverHyped</a></div>

    <div class="container loginSignBorder">
        <div class="row">
            <h1 style="text-align: center">Login</h1>
            <div class="loginSign">
                <div class="form-group">
                    <p id="loginError" <%= typeof loginErrors !== 'undefined' ? 'class=error' : ''%>>
                        <em><%= typeof loginErrors !== 'undefined' ? '! ' + loginErrors + '.' : ''%></em></p>
                </div>
                <div>
                    <form action="/login" method="post" onsubmit="return validate('login')">
                        <label for="name">Username</label>
                        <div class="form-group">
                            <input class="form-control" type="text" id="name" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                                <p id="nameError"></p>
                        </div>
                        <label for="pass">Password</label>
                        <div class="form-group">
                            <input class="form-control" type="password" id="pass" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                                <p id="passError"></p>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
                        </div>
                    </form>
                    <hr>
                    <p>Need an account? <a href="/register">Sign Up</a></p>
                    <p>Or go <a href="/userpages">back</a>.</p>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>