<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign Up for Overhyped</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script type="text/javascript" src="/javascript/validate.js"></script>

    </head>
    <body class="auth">
        <div class="brand"><a class="logo" href="/">OverHyped</a></div>
    
        <div class="container loginSignBorder">
            
            <div class="row">
                <h1 class="authHead">Sign Up</h1>
                <div class="loginSign">
                    <form action="/register" method="post" onsubmit="return validate()">
                        <label for="name">Username</label>
                        <div class="form-group">
                            <input class="form-control" type="text" id="name" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <p id="nameError" <%= typeof msg !== 'undefined' ? 'class=error' : ''%>><%= typeof msg !== 'undefined' ? msg : ""%></p>
                        </div>
                        <label for="pass">Password</label>
                        <div class="form-group">
                            <input class="form-control" value="<%= typeof pass !== 'undefined' ? pass : ''%>" type="password" id="pass" name="password" placeholder="8 chars min (1 upper, lower, digit, & special)">
                        </div>
                        <div class="form-group">
                            <p id="passError"></p>
                        </div>
                        <label for="confirm">Retype Password</label>
                        <div class="form-group">
                            <input class="form-control"  value="<%= typeof pass !== 'undefined' ? pass : ''%>" type="password" id="confirm" placeholder="Retype Password">
                        </div>
                        <div class="form-group">
                            <p id="confirmError"></p>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" value="Sign Up!" class="btn btn-lg btn-primary btn-block">
                        </div>
                    </form>
                    <hr>
                     <p>Already have an account? <a href="/login">Login</a></p>
                     <p>Or go <a href="/userpages">back</a>.</p>
                </div>
            </div>
            
            
        <% include partials/footer %>

            


