body {
    background-color: black;
}


.page-footer {
  background-color: black;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 17%;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  transition: opacity 0.5s;
  color: white;
}

.page-footer:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.footer-title {
  margin: 5px 5px;
  font-weight: 900;
}

#footer-copyright {
  margin-top: 40%;
  margin-left: 15%;
  margin-right: 0;
}


h1 {
  text-shadow: 3px 3px 8px #000;
}

#home-header {
  z-index: 1; /*this makes header come forward towards us, then it's infront of anything with z-index less than 1*/
  position: relative; /*have to have this otherwise position is static and it ignores z-index*/
  text-align: center;
  padding-top: 40vh; /*this helps center it vertically, textalign is horizontal*/
}

#home-header h1 {
  color: #fff;
  margin-bottom: 0;
}

#home-header-subtitle {
  color: #000;
  position: relative;
  left: 40%;
  border-bottom: 2px solid black;
  width: 20%;
  font-weight: 900;
  letter-spacing: 4px;
  
}

.btn-primary {
  background-color: transparent;
  border-radius: 50px;
  width: 13vw;
  font-size: 140%;
  border-width: 2px;
  font-weight: 500;
  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}



.slideshow { /*selects unordered list*/
  position: fixed; 
  width: 100%; /*set width and height to 100 so it takes up whole page*/
  height: 100%;
  top: 0; /*nudges up into top left corner of page by setting top and left to 0*/
  left: 0;
  z-index: 0; /*this makes sure background images are behind other content like welcome to overhype text and view userpage btn */
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover; /*allows images to take up entire space of page*/
  background-position: 50% 50%; /*centers images perfectly on page*/
  background-repeat: no-repeat; /*so images don't repeat vert or horz*/
  opacity: 0;
  z-index: 0; /*background images behind text and button*/
  animation: image 70s linear infinite; /*allows fade images in and out; name (image) is arbitrary. 70 seconds total. linear means same speed from beginning to end. loop infinitely*/
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1504270997636-07ddfbd48945?auto=format&fit=crop&w=2551&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1499389042463-c4adc501cba0?auto=format&fit=crop&w=1567&q=80);
  animation-delay: 10s; /*each image fades in 10 seconds after previous image*/
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1476357471311-43c0db9fb2b4?auto=format&fit=crop&w=1650&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1485742032238-7543513eeba6?auto=format&fit=crop&w=1650&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1504619988368-2911f094bac5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=16b49cb3c2bb7b14c7c7c6ff5565abbd&auto=format&fit=crop&w=1650&q=80);
  animation-delay: 40s; 
}
.slideshow li:nth-child(6) { 
  background-image: url(https://images.unsplash.com/photo-1416174023108-e489d786514c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57eafb16243ca18a4c69a318406739bb&auto=format&fit=crop&w=1655&q=80);
  animation-delay: 50s; 
}
.slideshow li:nth-child(7) { 
  background-image: url(https://images.unsplash.com/photo-1512000025522-c6c38b5ba04f?auto=format&fit=crop&w=2550&q=80);
  animation-delay: 60s; 
}


@keyframes image { /*tells what happens at varoius keyframes in animation*/
  0% { /*animation goes from 0 to 100 percent but this only concerns what happens in 0 to 18. each successive image overlaps some part of this (eg while 1st is ending 2nd is beginning */
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  6% {
    opacity: 1;
    animation-timing-function: ease-out; 
  }
  12% {
    opacity: 1
  }
  18% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}