body {
    padding-top: 70px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.brand {
    width: 200px;
    border-bottom: solid;
    border-bottom-color: #DCDCDC;
    border-bottom-width: 2px; 
    margin-bottom: 80px; 
    padding-left: 10px;
}

.logo {
    letter-spacing: 3px;
    font-size: 1.2em;
    transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
}

.logo:hover {
    text-decoration: none;
    color: #000;
    text-shadow: 3px 3px 8px #428bca;
    transition: text-shadow 0.4s;
  -webkit-transition: text-shadow 0.4s;
  -moz-transition: text-shadow 0.4s;
    
}


.auth {
    padding-top: 10px; 
}

.warning {
    border-color: red;
}

.error {
    color: red; 
}

.loginSignBorder {
    border: 1px solid rgb(200, 200, 200);
    width: 40%;
    border-radius: 10px; 
}

.loginSign {
    width: 75%;
    margin-top: 15px;
    margin-bottom: 25px; 
    margin-left: auto;
    margin-right: auto;
}

.authHead {
    text-align: center;
    
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}