body {
    padding-top: 70px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.brand {
    width: 200px;
    border-bottom: solid;
    border-bottom-color: #DCDCDC;
    border-bottom-width: 2px; 
    margin-bottom: 80px; 
    padding-left: 10px;
}

.logo {
    letter-spacing: 3px;
    font-size: 1.2em;
    transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
}

.logo:hover {
    text-decoration: none;
    color: #000;
    text-shadow: 3px 3px 8px #428bca;
    transition: text-shadow 0.4s;
  -webkit-transition: text-shadow 0.4s;
  -moz-transition: text-shadow 0.4s;
    
}


.auth {
    padding-top: 10px; 
}